
    

<div class="container">

    
    <div class="col bg-white " style="height: 80px">
        <div class="d-flex justify-content-center mt-5 h1">WHOLESALE INQUIRIES</div>
        <div class="d-flex justify-content-center h5">GABBY@go-deep.COM</div>
    </div>
</div>

<div class="container">
    <div class="col bg-white " style="height: 80px"></div>
    <div class="d-flex justify-content-center h1">GENERAL HELP</div>
    <div class="d-flex justify-content-center h5">INF@go-deep.COM</div>
</div>

 <div class="container">
    <div class="col bg-white " style="height: 80px"></div>
    <div class="d-flex justify-content-center h1">ALL OTHER INQUIRIES </div>
    <div class="d-flex justify-content-center h6">PRESS INQUIRIES</div>
    <div class="d-flex justify-content-center h4">CELEBRITY STYLIST INQUIRIES</div>
    <div class="d-flex justify-content-center h6">MEDIA INQUIRIES</div>
    <div class="d-flex justify-content-center h2">contact us</div>
    <div class="d-flex justify-content-center h2">CHRISTINA@go-deep.COM</div>

  </div>
