<div class="container-fluid">
    <div class="row" style="height: 100vh">
        <div class="col d-flex flex-column justify-content-center align-items-center">

            <div class="bgimg">
                <div class="h3 ">Hello</div>
                <div class="h2">WELCOME TO GO-DEEP</div>

            </div>

        </div>
        <!--right block-->
        <div class="col bg-info d-flex flex-column justify-content-center align-items-center">

            <div class="h4">LOGIN</div>
            <div>
                <input type="text" placeholder="Enter Email" class="form-control" formcontrolName="Username" />
            </div>

            <div class="mt-1">
                <input type="text" placeholder="Password" class="form-control" formcontrolName="Password" />
            </div>

            <div class="mt-1 d-flex flex-column justify-content-center align-items-center">
                <button class="btn btn-secondary w-85 mt-2">Login</button>
                <button class="btn btn-secondary w-150 mt-2">SIGN UP</button>
            </div>
        </div>
    </div>