<div class="container">
    <div class="d-flex justify-content-center h1" style="height: 80px;">GO-DEEP</div>
    <div class="d-flex justify-content-center h5" style="height: 80px;">Book The Look</div>
    <div class="row" style="height: 80vh">
        <div class="col d-5 flex-column justify-content-center align-items-center">

            <div class="card" style="width: 25rem;">
                <img src="/assets/look/1.jpg" class="card-img-top" alt="img-fluid rounded"
                class="img-thumbnail">
                <a href="#" class="btn btn-primary">Book</a>
             </div>


        </div>

        <div class="col d-flex flex-column justify-content-center align-items-center"> 
            <div class="card" style="width: 25rem;">
                <img src="/assets/look/2.jpg" class="card-img-top" alt="img-fluid rounded" 
                class="img-thumbnail">
                <a href="#" class="btn btn-primary">Book</a>
             </div>
        </div>
            <div class="col d-auto flex-column justify-content-left align-items-left mt-10"> 
                <div class="card" style="width: 25rem;">
                    <img src="/assets/look/3.jpg" class="card-img-top" alt="img-fluid rounded"
                    class="img-thumbnail">
                    <a href="#" class="btn btn-primary">Book</a>
                 </div>
            </div>
            <div class="col d-auto flex-column justify-content-right align-items-right mt-10"> 
                <div class="card" style="width: 25rem;">
                    <img src="/assets/look/4.jpg" class="card-img-top" alt="img-fluid rounded"
                    class="img-thumbnail">
                    <a href="#" class="btn btn-primary">Book</a>
                 </div>
            </div>
            <div class="col d-auto flex-column justify-content-right align-items-right mt-10"> 
                <div class="card" style="width: 25rem;">
                    <img src="/assets/look/5.jpg" class="card-img-top" alt="img-fluid rounded"
                    class="img-thumbnail">
                    <a href="#" class="btn btn-primary">Book</a>
                 </div>
            </div>
            <div class="col d-auto flex-column justify-content-right align-items-right mt-10"> 
                <div class="card" style="width: 25rem;">
                    <img src="/assets/look/6.jpg" class="card-img-top" alt="img-fluid rounded"
                    class="img-thumbnail">
                    <a href="#" class="btn btn-primary">Book</a>
                 </div>
            </div>
            <div class="col d-auto flex-column justify-content-right align-items-right mt-10"> 
                <div class="card" style="width: 25rem;">
                    <img src="/assets/look/7.jpg" class="card-img-top" alt="img-fluid rounded"
                    class="img-thumbnail">
                    <a href="#" class="btn btn-primary">Book</a>
                 </div>
            </div>
            <div class="col d-auto flex-column justify-content-right align-items-right mt-10"> 
                <div class="card" style="width: 25rem;">
                    <img src="/assets/look/8.jpg" class="card-img-top" alt="img-fluid rounded"
                    class="img-thumbnail">
                    <a href="#" class="btn btn-primary">Book</a>
                 </div>
            </div>
            <div class="col d-auto flex-column justify-content-right align-items-right mt-10"> 
                <div class="card" style="width: 25rem;">
                    <img src="/assets/look/9.jpg" class="card-img-top" alt="img-fluid rounded"
                    class="img-thumbnail">
                    <a href="#" class="btn btn-primary">Book</a>
                 </div>
            </div>
            <div class="col d-auto flex-column justify-content-right align-items-right mt-10"> 
                <div class="card" style="width: 25rem;">
                    <img src="/assets/look/8.jpg" class="card-img-top" alt="img-fluid rounded"
                    class="img-thumbnail">
                    <a href="#" class="btn btn-primary">Book</a>
                 </div>
            </div>
            <div class="col d-auto flex-column justify-content-right align-items-right mt-10"> 
                <div class="card" style="width: 25rem;">
                    <img src="/assets/look/9.jpg" class="card-img-top" alt="img-fluid rounded"
                    class="img-thumbnail">
                    <a href="#" class="btn btn-primary">Book</a>
                 </div>
            </div>
            <div class="col d-auto flex-column justify-content-right align-items-right mt-10"> 
                <div class="card" style="width: 25rem;">
                    <img src="/assets/look/10.jpg" class="card-img-top" alt="img-fluid rounded"
                    class="img-thumbnail">
                    <a href="#" class="btn btn-primary">Book</a>
                 </div>
            </div>
            <div class="col d-auto flex-column justify-content-right align-items-right mt-10"> 
                <div class="card" style="width: 25rem;">
                    <img src="/assets/look/11.jpg" class="card-img-top" alt="img-fluid rounded"
                    class="img-thumbnail">
                    <a href="#" class="btn btn-primary">Book</a>
                 </div>
            </div>
            <div class="col d-auto flex-column justify-content-right align-items-right mt-10"> 
                <div class="card" style="width: 25rem;">
                    <img src="/assets/look/12.jpg" class="card-img-top" alt="img-fluid rounded"
                    class="img-thumbnail">
                    <a href="#" class="btn btn-primary">Book</a>
                 </div>
            </div>
            <div class="col d-auto flex-column justify-content-right align-items-right mt-10"> 
                <div class="card" style="width: 25rem;">
                    <img src="/assets/look/13.jpg" class="card-img-top" alt="img-fluid rounded"
                    class="img-thumbnail">
                    <a href="#" class="btn btn-primary">Book</a>
                 </div>
            </div>
            <div class="col d-auto flex-column justify-content-right align-items-right mt-10"> 
                <div class="card" style="width: 25rem;">
                    <img src="/assets/look/14.jpg" class="card-img-top" alt="img-fluid rounded"
                    class="img-thumbnail">
                    <a href="#" class="btn btn-primary">Book</a>
                 </div>
            </div>
    </div>   
</div>


