<div class="container">
    <div class="d-flex justify-content-center h1" style="height: 80px;">GO-DEEP</div>
    <div class="d-flex justify-content-center h5" style="height: 80px;">Our Story </div>
    <div class="row" style="height: 100vh">
        <div class="col d-flex flex-column justify-content-center align-items-center">

            <img src="/assets/download4.jpg" class="img-fluid rounded" 
            style="height: 100vh;" alt="/image">
        </div>

   <div class="col d-flex flex-column justify-content-center align-items-center"> THE WOMAN WHO WEARS GO-DEEP WANTS
            TO BE NOTICED. CLEVER,
            AND UNCONVENTIONAL, SHE HAS A TIMELESS SENSE OF STYLE THAT MAKES A
            SENSATIONAL IMPACT.”</div>


    </div>
</div>
<div class="container1">

    <div class="d-flex justify-content-center h1" style="height: 80px;">------</div>
    <div class="d-flex justify-content-center mt-10" style="height: 80px;">



        <i>GO-DEEP FOUND HER START IN THE INDUSTRY AS THE POINT OF CALL
            FOR HOUSES INCLUDING LANVIN, BALENCIAGA, GAULTIER, ALEXANDER MCQUEEN,
            VALENTINO, STELLA MCCARTNEY, AND ARMANI WHEN IT CAME TO EMBELLISHMENT
            IDEAS FOR CLOTHING AND ACCESSORIES. THIS PATH ULTIMATELY LED RANJANA
            TO START HER OWN BRAND, RANJANA KHAN, IN 2008 WHICH IS INSPIRED
            BY HER TRAVELS AROUND THE WORLD. SHE CONTINUES TO EXPERIENCE
            NEW CULTURES, MIXING UNIQUE INGREDIENTS INTO EACH PIECE.
            IT IS NOT UNCOMMON TO FIND ELEMENTS LIKE SEMI-PRECIOUS STONES,
            SHARK TEETH, VINTAGE MATERIALS LIKE BAKELITE AND HAND-CARVED WOOD OR EVEN
            THE COCOON OF THE SILKWORM IN EACH PIECE.
            THE RESULT IS A VISUAL CONFECTIONARY TREAT THAT IS MEANT
            TO BE SEEN ACROSS THE ROOM.</i>
    </div>



</div>